* {
   -fx-base-color: rgb(31.0, 31.0, 31.0);
   -fx-red-color:  rgb(232.0, 17.0, 35.0);
}

#main {
	-fx-background-color: #E1E2E1;
}

#title {
    -fx-font-size: 35.0;
    -fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-background-color: #80cbc4;
}

#border {
	-fx-border-width: 0 5;
}

#topToolbar, #statusContainer {
	-fx-padding: 3.0 5.0 3.0 5.0;
	-fx-background-color: #4f9a94;
}

#statusContainer {
	-fx-alignment: CENTER_LEFT;
	-fx-spacing: 10.0px;
}

#statusContainer FontIcon, #statusContainer SpinningFontIcon {
	-fx-icon-size: 16.0px;
	-fx-icon-color: WHITE;
}

#errorIcon {
	-fx-icon-color: -fx-red-color;
}

#statusContainer JFXButton {
	-fx-padding: 0.0;
}

#ratesGrid {
	-fx-padding: 10.0px;
	-fx-vgap: 5.0px;
	-fx-hgap: 5.0px;
}

.rate {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.8);

}

.value-container {
	-fx-alignment: BASELINE_LEFT;
	-fx-spacing: 4.0;
}

.weather-value {
	-fx-font-size: 30.0;
	-fx-font-weight: bold;
	-fx-fill: rgba(0, 0, 0, 0.60);;
}

.no-data {
	-fx-icon-size: 24.0px;
	-fx-icon-color: GRAY;
}

.helper-label {
	-fx-fill: rgba(0, 0, 0, 0.60);
	-fx-font-weight: bold;
	-fx-font-size: 20.0;
}

.temperature-label {
	-fx-font-size: 80;
	-fx-font-weight: bold;
	-fx-fill: rgba(0, 0, 0, 1);
}

.chevron-up, .chevron-down {
	-fx-icon-size: 14.0;
}
